body {
    font-family: 'Open Sans', sans-serif;
    background:#00c6d7;
}
h1 {
    color: #fff;
    text-align: center;
    font-size: 3em;
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-weight: 600;
}
.login-form {
    background: #2b2b2b;
    padding: 40px 25px 25px 30px;
    position: relative;
    width: 100%;
    border-radius: 5px;
}
    .form-control {
    border-radius: 3px;
    padding: 3px 3px 3px 45px;
    height: 40px;
}
    
.login-form .form-group i {
    position: absolute;
    float: left;
    overflow: hidden;
    height: 40px;
    border-right: 1px solid #DADADA;
    width: 40px;
    background: #F0F0F0;
    font-size: 18px;
    padding: 12px 0px 0px 12px;
}
    
    .login-form .btn {
    background: #00c6d7;
    border: 1px solid #00c6d7;
    padding: 8px 10px;
    color: #fff;
    border-radius: 2px;
    width: 100%;
}
.login-form p {
    margin: 0px;
    color: #fff;
    padding: 10px 0px;
}
.login-form a {
    text-decoration: none;
    color: #00c6d7;
    float: right;
}    
.my-mod .btn 
{
    width: 100%;
    background: #009688;
    color: #fff;
    border-radius: 0px;
}
.my-mod .form-control {
    border-radius: 0px;
    padding: 6px 12px;
}